<footer id="contact">
  <p id="number">Contact us</p>

  <p>Email: ishachere@gmail.com</p>
  <p>Phone: 7876798101</p>

  <div id="icons">
    <a href="https://github.com/Isha-Chaudhary48"
      ><i class="fa-brands fa-github"></i
    ></a>
    <a href="https://www.linkedin.com/in/isha-chaudhary-8273b1286"
      ><i class="fa-brands fa-linkedin"></i
    ></a>

    <a href="https://x.com/ishiefisshie"
      ><i class="fa-brands fa-x-twitter"></i>
    </a>
  </div>
  <hr />

  <div id="copyright">
    <p>&copy; 2025 Shortify. All rights reserved.</p>
    <p>Made with ❤️ by Isha</p>
  </div>
</footer>
