<footer id="contact">
  <p>Contact us</p>
  <p>Email: ishiefishie@gmail.com</p>
  <p>Phone: 93838334</p>
  <p>Address: ishiefishie company</p>
  <hr />

  <div id="icons">
    <a href="https://github.com/Isha-Chaudhary48"
      ><i class="fa-brands fa-github"></i
    ></a>
    <a href="https://www.linkedin.com/in/isha-chaudhary-8273b1286"
      ><i class="fa-brands fa-linkedin"></i
    ></a>

    <a href="https://x.com/ishiefisshie"
      ><i class="fa-brands fa-twitter"></i
    ></a>
  </div>
  <hr />
  <div id="copyright">
    <a href=""><i class="fa-solid fa-copyright"></i></a> Copyright 2024. All
    rights reserved
  </div>
</footer>
