<header>
  <nav id="navbar">
    <h1>Shortify</h1>
    <div id="navItems">
      <a href="/index">Home</a>
      <a href="/analytics">Analytics</a>
      <a href="#contact">Contact</a>
      <a href="/signIn">SignIn</a>
      <a href="/signUp">SignUp</a>
    </div>
    <div id="hamburgerIcon">
      <span id="bar"></span>
      <span id="bar"></span>
      <span id="bar"></span>
    </div>
    <div id="lightModeToggle">
      <i id="lightModeIcon" class="fa-regular fa-sun"></i>
    </div>
  </nav>
</header>
