<header>
  <nav id="navbar">
    <h1>Shortner</h1>
    <div id="navItems">
      <a href="/index">Home</a>
      <a href="/analytics">Analytics</a>
      <a href="#contact">Contact</a>
      <a href="/signIn">SignIn</a>
      <a href="/signUp">SignUp</a>
    </div>
  </nav>
</header>
