<div id="main">
  <h1>Analytics</h1>
  <table id="table">
    <tr>
      <th>Number of clicks</th>
      <th>Date and time</th>
      <th>User's IP address</th>
      <th>Referrer</th>
    </tr>
    <tr>
      <td>df</td>
      <td>df</td>
      <td>df</td>
      <td>dfdjkffffff fffffffffjfkdj</td>
    </tr>
  </table>
</div>
