<div id="first">
  <form action="/generate" method="post" id="form">
    <div id="main">
      <input
        type="text"
        name="url"
        value=""
        placeholder="http://example.com"
        id="url"
      />
      <button type="submit" id="submit">Generate</button>
    </div>
  </form>

  <% if (shortId) { %>
  <div id="shortId">
    <h3>shortId = localhost:8001/<%- shortId %></h3>
  </div>
  <% } %>
</div>
