<div id="first">
  <div id="indexSectionText">
    <h1>Welcome to Shortify</h1>
    <div id="indexContent">
      <p>Your smart and simple URL shortener.</p>
      <p>Turn long, messy links into clean, shareable URLs in just a click.</p>
      <p>Fast. Secure. Hassle-free.</p>
      <p>Paste your link, Shortify it, and share with the world.</p>
    </div>
  </div>

  <form action="/generate" method="post" id="form">
    <div id="main">
      <input
        type="text"
        name="url"
        value=""
        placeholder="http://example.com"
        id="url"
      />
      <button type="submit" id="submit">Generate</button>
    </div>
  </form>

  <% if (shortId) { %>
  <div id="shortId">
    <div>shortId =</div>
    <div id="short">
      <a href="<%-serverUri %>/<%- shortId %>" target="_blank"
        ><%-serverUri %>/<%- shortId %></a
      >
    </div>

    <button id="copyButton">Copy</button>
  </div>
  <% } %>
</div>
