<div id="card">
  <div id="main">
    <h1>Sign In</h1>
    <p>or <a href="/signUp">create an account</a></p>

    <form action="/signIn" method="post">
      <div>
        <input
          type="email"
          name="email"
          value=""
          placeholder="Email"
          required
        />
      </div>
      <div>
        <input
          type="password"
          name="password"
          value=""
          placeholder="Password"
          required
        />
      </div>

      <button type="submit" id="signin">Sign In</button>
    </form>
  </div>
</div>
