<div id="card">
  <div id="main">
    <h1>Sign up</h1>
    <p>or <a href="/signIn">sign In</a></p>
    <form action="/user/signUp" method="post">
      <div>
        <input
          type="text"
          name="name"
          placeholder="Name"
          autocomplete="current-password"
          required
        />
      </div>
      <div>
        <input
          type="email"
          name="email"
          placeholder="Email"
          autocomplete="current-password"
          required
        />
      </div>

      <div>
        <input
          type="password"
          name="password"
          placeholder="Password"
          autocomplete="current-password"
          required
        />
      </div>
      <% if (msg) { %>
      <div id="error"><%= msg %></div>
      <% } %>

      <button type="submit" id="signup">Sign Up</button>
    </form>
  </div>
</div>
